[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "comorosmaps"]
	path = comorosmaps
	url = https://github.com/hhousni/comorosmaps
